
# OS / R
.DS_Store
.Rhistory
.RData

# Raw sequencing data
*.fastq
*.fastq.gz
*.fq.gz
*.sra

# Alignment files
*.sam
*.bam
*.bai

# Genome tracks
*.bw
*.bigWig

# Archives
*.zip
*.tar
*.tar.gz

# Reference genome and indexes
reference_genome/*
!reference_genome/REFERENCE.md
!reference_genome/.gitkeep
!reference_genome/reference_files.sha256


# Temporary SRA files
sra_tmp/
